# Dependencies
node_modules/
.pnp.*
.yarn/

# Build output
dist/
build/
.expo/
.expo-shared/
web-build/
*.tsbuildinfo

# Native (Expo)
ios/
android/
.gradle/

# Logs & temp
*.log
npm-debug.*
.DS_Store
.metadata_never_index

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
